/* Black Transparent Background Presets */

.bg_alpha5 { background-image: url(../images/alpha/bg_alpha5.png); }
.bg_alpha10 { background-image: url(../images/alpha/bg_alpha10.png); }
.bg_alpha15 { background-image: url(../images/alpha/bg_alpha15.png); }
.bg_alpha20 { background-image: url(../images/alpha/bg_alpha20.png); }
.bg_alpha25 { background-image: url(../images/alpha/bg_alpha25.png); }
.bg_alpha30 { background-image: url(../images/alpha/bg_alpha30.png); }
.bg_alpha35 { background-image: url(../images/alpha/bg_alpha35.png); }
.bg_alpha40 { background-image: url(../images/alpha/bg_alpha40.png); }
.bg_alpha45 { background-image: url(../images/alpha/bg_alpha45.png); }
.bg_alpha50 { background-image: url(../images/alpha/bg_alpha50.png); }
.bg_alpha55 { background-image: url(../images/alpha/bg_alpha55.png); }
.bg_alpha60 { background-image: url(../images/alpha/bg_alpha60.png); }
.bg_alpha65 { background-image: url(../images/alpha/bg_alpha65.png); }
.bg_alpha70 { background-image: url(../images/alpha/bg_alpha70.png); }
.bg_alpha75 { background-image: url(../images/alpha/bg_alpha75.png); }
.bg_alpha80 { background-image: url(../images/alpha/bg_alpha80.png); }
.bg_alpha85 { background-image: url(../images/alpha/bg_alpha85.png); }
.bg_alpha90 { background-image: url(../images/alpha/bg_alpha90.png); }
.bg_alpha95 { background-image: url(../images/alpha/bg_alpha95.png); }


/* White Transparent Background Presets */

.bg_alpha5_white { background-image: url(../images/alpha/bg_alpha5_white.png); }
.bg_alpha10_white { background-image: url(../images/alpha/bg_alpha10_white.png); }
.bg_alpha15_white { background-image: url(../images/alpha/bg_alpha15_white.png); }
.bg_alpha20_white { background-image: url(../images/alpha/bg_alpha20_white.png); }
.bg_alpha25_white { background-image: url(../images/alpha/bg_alpha25_white.png); }
.bg_alpha30_white { background-image: url(../images/alpha/bg_alpha30_white.png); }
.bg_alpha35_white { background-image: url(../images/alpha/bg_alpha35_white.png); }
.bg_alpha40_white { background-image: url(../images/alpha/bg_alpha40_white.png); }
.bg_alpha45_white { background-image: url(../images/alpha/bg_alpha45_white.png); }
.bg_alpha50_white { background-image: url(../images/alpha/bg_alpha50_white.png); }
.bg_alpha55_white { background-image: url(../images/alpha/bg_alpha55_white.png); }
.bg_alpha60_white { background-image: url(../images/alpha/bg_alpha60_white.png); }
.bg_alpha65_white { background-image: url(../images/alpha/bg_alpha65_white.png); }
.bg_alpha70_white { background-image: url(../images/alpha/bg_alpha70_white.png); }
.bg_alpha75_white { background-image: url(../images/alpha/bg_alpha75_white.png); }
.bg_alpha80_white { background-image: url(../images/alpha/bg_alpha80_white.png); }
.bg_alpha85_white { background-image: url(../images/alpha/bg_alpha85_white.png); }
.bg_alpha90_white { background-image: url(../images/alpha/bg_alpha90_white.png); }
.bg_alpha95_white { background-image: url(../images/alpha/bg_alpha95_white.png); }
