.main {
    font-family: "Arial";
}

.wrapper {
    background: #fff;
    min-width: 1002px;
}

.center-wrapper {
    /*width: 62.625em;*/
    width: 100%;

    /*height: 837px;*/
}

.header-top {
    background: #7dd9e8;
    padding: 20px 15px;
}

.header-top-left {
    /*width: 58.625em;*/
    width: 58.625em;
    margin: 0 auto;
    content: "";
    display: table;
}

.logo {
    float: left;
}

.search {
    float: left;
    padding: 20px 21px 10px 8px;
    width: 21.5625em;
    margin-left: 2px;
}

.profile-menu ul {
    clear: both;
}

.profile-menu ul li {
    float: left;
    display: block;
}

.profile-menu ul li a {
    color: #333;
    /*padding-right: 5px;*/
    /*padding:0px 5px;*/
    /*padding-left:10px;*/
}

.profile-menu ul li.settings a {
    padding-right: 5px;
}

.pipe {
    background: url("../images/pipe.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 10px;
}

.header-bottom {
    background-color: #f5f5f5;
    padding: 15px 0px;
}

.header-bottom-menu {
    width: 58.625em;
    margin: 0 auto;
    content: "";
    display: table;
}

.menu {
    float: left;
    width: 39.830em;
    font-family: "Arial";

    /*39.875em*/
}

.menu ul {
    list-style-type: none;
    clear: both;
}

.menu ul li {
    display: block;
    float: left;
    font-size: 14px;
    padding: 0px 15px;
}

.invite-box {
    float: left;
}

.invite-box a {
    background: url("../images/invite-active.png");
    background-repeat: no-repeat;
    padding: 0 10px;
    font-size: 12px;
}

.friend-box a {
    background: url("../images/friend.png");
    background-repeat: no-repeat;
    padding: 0 20px;
    font-size: 12px;
}

.col3-right {
    width: 938px;
    margin: auto;
}

.col3-right-center {

    /*margin:0 auto;*/
    margin-top: 26px;
    margin-bottom: 26px;
    background: url("../images/center-bg.png") repeat-y;
    background-size: 100%;
}

.col-right {

    float: right;
    width: 176px;
    /*clear: both;*/
}

.left-col {
    width: 194px;
    float: left;
}


/*.main-content{
    float:right;
}*/

.main {
    float: left;
    width: 738px;
}

.article-titles {
    width: 194px;
}

.top-title {
    background: #7dd9e8;
    height: 42px;
    line-height: 42px;
    padding-left: 4px;
    font-size: 14px;
}

.article-content ul li a {
    font-size: 12px;
}

.article-content {
    background: #f5f5f5;
    padding-top: 3px;
    padding-bottom: 3px;
}

.article-content ul li {
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 8px;
    line-height: 16px;
    font-size: 11px;
    position: relative;
    font-weight: bold;
}

.article-content ul li a {
    text-decoration: none;
    color: #292929;
    display: block;
}

.article-content ul li:hover {
    background: #ffffff;
}

.footer-wrapper {
    background: #333;
    width: 100%;
}

.footer-wrapper-center {
    margin: 0 auto;
    width: 58.625em;
    /*clear:both;
    content:"";
    display: table;*/
}

.footer-left ul li:first-child {
    background: none;
    padding-left: 0px;
}

.footer-left ul li {
    float: left;
    font-size: 9px;
    line-height: 45px;
    color: #d4d4d4;
    padding-left: 10px;
    padding-right: 8px;
    background: url(../images/footer-list.png) 0 50% no-repeat;
}

.footer-left ul li a {
    text-decoration: none;
    color: #d4d4d4;
    font-size: 9px;
    font-family: "Arial";
}


.footer-right {
    color: #d4d4d4;
    line-height: 45px;
    font-size: 9px;
    padding: 0 6px;
    float: right;
}

.footer-left {
    ` float: left;
}

.left-fix {
    /*margin-left: 10px;*/
}

.right-fix {
    /*margin-left:10px;*/
    width: 176px;
}